.one-user-card {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 30px;
  position: relative;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  overflow: hidden;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 180px;
    background: url("https://themes.stackbros.in/social_n/assets/01-DFkpitQe.jpg") no-repeat center center;
    background-size: cover;
    z-index: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    opacity: 0.8;
  }

  .one-user-avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10%;
    position: relative;
    z-index: 1;
    margin-top: 60px;
    border: 3px solid white;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .one-user-name {
    z-index: 1;
    position: relative;
    margin-top: 12px;
    font-size: 24px;
    color: #333;
  }
}

.one-user-posts {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 15px;
  display: flex;
  flex-direction: column;

  h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
  }

  .feed-post {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    padding: 16px;
  }
}

.one-user-back-btn {
  margin-top: 1.5rem;
  background-color: transparent;
  border: 2px solid #1877f2;
  color: #1877f2;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #1877f2;
    color: white;
  }
}

.one-user-follow-btn {
  padding: 8px 20px;
  border: 2px solid #1877f2;
  border-radius: 10px;
  width: 150px;
  background: #aec1fa;
  color: #0e0e0e;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  &:hover {
    background-color: #748afc;;
    color: #ffffff;
    border: 2px solid #1877f2;
    transform: translateY(-1px);
  }

  &:active {
    transform: scale(0.98);
  }
}

.one-user-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* Tablet */
@media (max-width: 768px) {
  .one-user-card,
  .one-user-posts {
    width: 95%;
    padding: 16px;
  }

  .one-user-avatar {
    width: 150px;
    height: 150px;
  }

  .one-user-name {
    font-size: 22px;
  }
}

/* Smartphone */
@media (max-width: 480px) {
  .one-user-card,
  .one-user-posts {
    width: 100%;
    padding: 12px;
  }

  .one-user-avatar {
    width: 120px;
    height: 120px;
  }

  .one-user-name {
    font-size: 20px;
  }

  .feed-post {
    padding: 12px;
  }
}


