.user-list-container {
  max-height: 500px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow-y: auto;
  position: relative;

  .back-btn-mobile {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    background: #f3f3f3;
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #555;
    font-weight: 500;
    transition: background 0.3s ease;

    &:hover {
      background: #e0e0e0;
    }
  }

  @media (max-width: 1024px) {
    .back-btn-mobile {
      display: block;
    }
  }
}

.uberschrift_user {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s;
  justify-content: space-between;

  &:hover {
    background: #eff2f6;
    cursor: pointer;
  }
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.user-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
}

.user-text {
  display: flex;
  flex-direction: column;

  h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }

  p {
    margin: 0;
    font-size: 16px;
    color: gray;
  }
}

.follow-btn {
  width: 50px;
  height: 50px;
  color: #162f98;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.following {
  background: #a5c5ef !important;
}

.following::after {
  font-size: 18px;
  font-weight: bold;
}

.delete {
  background: #6dd586 !important;
}

/* Мобиль и планшет*/
@media (max-width: 768px) {
  .user-list-container {
    max-height: unset;
    padding: 20px 10px;
  }

  .user-list {
    gap: 8px;
  }

  .user-avatar {
    width: 50px;
    height: 50px;
  }

  .user-item {
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }

  .user-text h4,
  .user-text p {
    font-size: 14px;
  }

  .follow-btn {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}
