.user-list-container {
  width: 25%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow-y: auto;
}

.uberschrift_user {

  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

/* Список пользователей */
.user-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Элемент списка */
.user-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s;
  justify-content: space-between;
}

.user-item:hover {
  background: #eff2f6;
  cursor: pointer;
}

/* Аватар */
.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s;
}

.user-avatar:hover {
  transform: scale(1.1);
}

/* Информация о пользователе */
.user-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
}

.user-text {
  display: flex;
  flex-direction: column;
}

h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

p {
  margin: 0;
  font-size: 14px;
  color: gray;
}

/* Кнопка подписки */
.follow-btn {
  width: 70px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.2s;

}

.follow-btn:hover {
  transform: scale(1.1);
}

/* Состояние "подписан" */
.following {
  background: #d59d1f!important;

}

.following::after {

  font-size: 18px;
  font-weight: bold;
}
.delete{
  background: #28a745 !important;
  &:hover{
    background: #28a745 !important;
  }
}
