.nav-el{
  height: 30px;
}

.nav{
  display: flex;
  height: 30px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  border-radius: 18px;
  &:active{
    color: #007bff;
  }
Link{
  text-decoration: none;
  &:active{
    color: #007bff;
  }
}
}