.feed-post {
  width: 90%;
  margin: 30px auto;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.post-media, .post-video {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.fullscreen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.fullscreen-image img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.author-avatar {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.author-avatar:hover {
  transform: scale(1.1);
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  cursor: pointer;
}

.author-name {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.post-date {
  font-size: 16px;
  color: gray;
  margin-top: 2px;
}

.post-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.post-description {
  font-size: 16px;
  margin-top: 8px;
  white-space: pre-wrap;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.like-button, .delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s;
}


.post-video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.post-video {
  width: 100%;
  height: 315px;
  border-radius: 10px;
}
